body{
	margin:0;
	padding:0;
	background-size:cover;
	background-position:center;
}



.contact_form{
	
	margin-top: 10px;
	overflow: hidden;
	height: 120%;
	width: 63%;
	border-right: solid aqua 2px;
}

.contact_table{
	position: absolute;
	margin-top: 35px;
	margin-left: 90px;
	height: 50%;

}



#form_heading{
	
	margin-left: 100px;
	letter-spacing: 4px;
}

#form_description{
	
	margin-left: 100px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #434709;
}



#btn{
	padding: 10px 25px;
	background-color: #ff4747;
	color:#5e0000;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}


#map{
	position: absolute;
	top:80px;
	right: 80px;
}


.address{
	width: 28%;
	position: absolute;
	right: 100px;
	top:500px;
	height: 90%;
}

.contact_form input[type=text]{
	padding: 8px;
	margin:3px;
}

 /*#back_container{
	background-color: black
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	margin-top: 10px;
	margin-left: 67px;
	overflow: hidden;
	height: 900px;
	width: 804px;
} */


#contact_image{
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	margin-top: -15px;
	margin-left: 10px;
	height: 980px;
	width: 950px;	

}

.contact_form td{
	font-weight: bold;
}

.com{
	position: absolute;
}


.bottom_fix{
	bottom: -450;
	position: absolute;
	background-color: #323232;
	color: white;
	width: 100%;
	height: 20%;
	float: left;
}


.link_list_for_others{
	list-style-type: none;
	background-color: #252525;
	margin-top: -8px;
	margin-bottom:2px;
	padding: 0;
	overflow: hidden;
	position: sticky;
	top:0;
}


.nav_li a{
  display: block;
  color: white;
  text-align: center;
  padding: 25px 26px;
  text-decoration: none;

}

.nav_li{
	float:right;
}

.nav_li a:hover{
	background-color: #555;
  	color: white;
}

.link_list{
	list-style-type: none;
	background-color: #252525;
	margin-top: 3;
	margin-bottom:3;
	padding: 0;
	overflow: hidden;
	position: sticky;
	top:0;
}


.active {
  background-color: #f0470a;
}


.nav_li a:hover:not(.active){
  background-color: aqua;
  color: black;	
}


.bottom_fix h3{
	position: absolute;
	left: 20%;
}

.bottom_fix p{
	position: absolute;
	left: 15%;
	top: 25%;
}

.bottom_fix img{
	position: absolute;
	left: 19%;
	top: 50%;
	width: 10%;
}

.bottom_fix span{
	position: absolute;
	right: 5%;
	top: 5%;
}