#btn{
	padding: 10px 25px;
	background-color: #ff3636;
	color:white;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	width: 20%;
	position: absolute;
	right: 40%;
}

.sk_msg{
	position: absolute;
	text-align: center;
	top: 40%;
	width:40%;
	right: 30%;
	background:rgba(0,0,0,0.5);
	box-sizing:border-box;
	padding:10px;
	border-radius: 50px;
	box-shadow:0 5px 15px rgba(0,0,0,.9);

}


.itemname{
	color: yellow;
	overflow-wrap: break-word;
	font-size: 24px;
}

.column_name{
	color: #aec5d1;
}

.inbox_image{
	position: fixed;
	width: 100%;
	top: 5%;
	z-index: -1;
	opacity: 0.5;
}

.cus_image{
	width: 20%;
	position: absolute;
	top: 10%;	
	left: 10%;
	transition: transform .5s;	
}

.sk_image{
	width: 20%;
	position: absolute;
	right: 10%;	
	top: 15%;
	transition: transform .5s;
}

.sup_image{
	width: 20%;
	position: absolute;	
	top:45%;
	transition: transform .5s;
	right: 40%
}

#clipart:hover{
	transform: scale(1.5);	
}