#btn{
	padding: 10px 25px;
	background-color: #ff4747;
	color:#5e0000;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}

input[type=text]{
	padding:5px;
	margin: 3px;
	width: 70%;

}


.update_div{
	position: absolute;
	text-align: center;
	top: 15%;
	width: 80%;
	right: 10%;
	background:rgba(0,0,0,0.4);
	box-sizing:border-box;
	padding:10px;
	border-radius: 10px;
	box-shadow:0 5px 15px rgba(0,0,0,.9);

}


.itemname{
	color: yellow;
	font-size: 18px;
}

body{
	margin:0;
	padding:0;
	background-size:cover;
	background-position:center;
}

.column_name{
	color: #abdfff;
	font-size: 12px;
}

.update_img{
	width:100%;
	position: fixed;
	opacity: 0.9;
	
}
